<p>Title: <%= @tasks.title %></p>
<p>Details: <%= @tasks.details %></p>
<p>Completed?: <%= @tasks.completed %></p>

<%= link_to "Go back", tasks_path %>
<%= link_to "Update a Task 🪸", edit_path %>
<%= link_to "Delete a Task 🗑", destroy_path(@tasks), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
